# Build output
Debug/
Release/
build/

# Object & binary
*.o
*.elf
*.hex
*.bin
*.map
*.lst
*.d

# Eclipse / CubeIDE
.metadata/
.settings/
*.launch
.project
.cproject

# OS
.DS_Store
Thumbs.db